$lila-maco: #952aff;
$verd-maco: darken(#3ecd5e, 5%);
$groc-maco: #f9b234;
$blau-maco: rgb(13, 110, 253);
/* contributors */
.section-contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  margin-right: 2em;
}
.section-contributors-contributor {
  align-self: flex-start;
  margin: 2em 2em;
  display: flex;
  max-width: 250px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contributor-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid lighten($text-color,90%);
}

.contributor-name {
  font-weight: 600;
  padding: 0.5em 0;
}

.contributor-text {
  color: lighten($text-color,5%);
  font-size: 0.9rem;
}

// .contributor-text a {
//   text-decoration: none;
//   color: var(--primary);
// }

// FAQS

.faqs {
  display: flex;
  flex-direction: row;
  margin:2em 0;
}

.faqs-q {
  flex: 1 1 0;
  font-size:1.25rem;
  font-weight: bold;
}

.faqs-a {
  flex: 1 1 0;
}


@media (min-width: 420px) {
  .faqs {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .faqs {
  }
}

@media (min-width: 796px) {
  .faqs {
    flex-direction: row;
  }
}

@media (min-width: 966px) {
  .faqs {
  }
}

@media (min-width: 1200px) {
  .faqs {
  }
}