$padding-tarja: 20px;
$lila-maco: #952aff;
$verd-maco: #3ecd5e;
$groc-maco: #f9b234;

.noticies-container {
  max-width: 100%;
}

.noticies {
  padding-top: 15px;
}

.tarja {  
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #00000020;
  border-radius: 0.8rem;
  display:block;

}

.tarja:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,.1215686275),0 1px 1px rgba(0,0,0,.2392156863) !important;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.noticies .tarja {
  margin-bottom: 12px !important;
}

.tarja-header-color {
  height: auto;
  width: 100%;
  background-size: cover;
  border-radius: 12px 12px 2px 2px;
  background-position: 50% 50%;
  background-color: $lm-brand-color-light;
  color: $text-color;
  padding: 0 $padding-tarja;
}

.tarja-header-color-text {  
  border-radius: 12px !important;
  display: inline-flex;
  font-size: 24px;
  // text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 500 !important;
  line-height: 1.25;
  //color: white;
  margin: 20px 0 0;
}

.tarja-header-color-data {
  color:$text-color;
  font-size: .9rem;
  padding-bottom: 15px;
}

.tarja-header-fons {
  height: auto;
  width: 100%;
  background-size: cover;
  border-radius: 12px 12px 2px 2px;
  background-position: 50% 50%;
  background-color: $verd-maco;
  padding: 0 $padding-tarja;
}

.tarja-header-fons-text {
  box-shadow: 10px 0 15px 10px rgba(0,5,10,.15);
  backdrop-filter: blur(20px) contrast(0.75) saturate(2) brightness(0.5) opacity(0.7);
  border-radius: 12px !important;
  display: inline-flex;
  padding: 4px 8px;
  font-size: 24px;
  // text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 500 !important;
  line-height: 1.25;
  color: white;
  margin: 20px 0;
}

.tarja-header-fons-data {
  backdrop-filter: blur(20px) contrast(0.75) saturate(2) brightness(0.5) opacity(0.7);
  border-radius: 12px !important;
  display: inline-flex;
  padding: 4px 8px;
  font-size: .9re;
  color: white;
}

.tarja-cos-content {
  padding: $padding-tarja;
  color: $text-color;
}


.tarja-full-image {
  background-color: $groc-maco;
  background-size: cover;
  background-position: 0 0;
  width: 100%;
  position: relative;
  padding: $padding-tarja !important;
  border-radius: 12px !important;
}


.tarja a {
  text-decoration: none;
}

.tarja:nth-child(3n-2) a {
  .tarja-model-text {
  }
  .tarja-model-foto-prou {
    display:none;
  }
  .tarja-model-foto-content {
    display:none;    
  }
}
.tarja:nth-child(3n-1) a {
  .tarja-model-text {
    display:none;
  }
  .tarja-model-foto-prou {
    
  }
  .tarja-model-foto-content {
    display:none;    
  }
}
.tarja:nth-child(3n) a {
  .tarja-model-text {
    display:none;
  }
  .tarja-model-foto-prou {
    display:none; 
    
  }
  .tarja-model-foto-content {   
  }
}

@media (min-width: 420px) {
  .noticies {
      column-count: 1;
      column-gap: 0.5rem;
      orphans: 2;
      widows: 2 !important;
  }
}

@media (min-width: 576px) {
  .noticies .tarja {
      display: inline-block;
      width: 100%;
  }

  .noticies {
      column-count: 2;
      column-gap: 0.5rem;
      orphans: 4;
      widows: 4;
      max-width: 98%;
  }
}

@media (min-width: 796px) {
  .noticies {
      column-count: 3;
      column-gap: 1.125rem;
      orphans: 4;
      widows: 4;
  }
}

@media (min-width: 966px) {
  .noticies {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
      max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .noticies {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }
}