---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <div class = "goinghome">
    <div class ="localhero">
        <div class="titol">Topology optimization<br/> made simple</div>
        <div class="subtitol">Swan allows you to design, optimize, and 3D print parts and metamaterials that suit your needs.</div>
        <div class="botonera">
          <a href="https://github.com/SwanLab/Swan"><button id="destacat">Get the code</button></a>
          <a href="https://github.com/SwanLab/Swan/issues"><button id="empty">Contact us</button></a>
        </div>
    </div>
    <!-- <div class = "imagehero">
        slay
    </div> -->
  </div>

  <!---





  --->

  <h1> Features </h1>
  {%- if posts.size > 0 -%}

    <div class="ag-courses_box">

      {%- for post in posts -%}
      {% if post.categories contains 'feature' %}
    
    
      <div class="ag-courses_item">
        <a href="{{ post.url | relative_url }}" class="post-link ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
    
          <div class="ag-courses-item_title">
            {{ post.title | escape }}
          </div>
          
          <div class="ag-courses-item_subtitle">
          {{ post.subtitle | escape }}
          </div>
    
          <!-- <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              {{ post.date | date: date_format }}
            </span>
          </div> -->
        </a>
      </div>
    
      {% endif %}
      {%- endfor -%}
    </div>

  {%- endif -%}

  <h1> News </h1>
  <div class="cardbox">


  <!-- Content-->

<div class="noticies-container">
<div class="noticies">

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}
  {% unless post.categories contains 'feature' %}
  <div class = "tarja">

    <a href="{{ post.url | relative_url }}">
      <div class="tarja-model-text">
        <div class="tarja-header-color"> 
        <div class ="tarja-header-color-text">
          {{ post.title | escape }}
        </div>
        <div class ="tarja-header-color-data">
          {{ post.date | date: date_format }}
        </div>
        </div>
        <div class="tarja-cos-content"> 
          <div class ="">{{ post.content | strip_html | truncatewords: 20 }}</div>
        </div>
      </div>
      <div class="tarja-model-foto-prou">
        <div class="tarja-full-image" style="background-image: url('{{ post.image | escape }}') ;">
          <div class="tarja-header-fons-text" style="margin: 75px 0; font-size: 24px">{{ post.title | escape }}</div>
          <div class="tarja-header-fons-data">{{ post.date | date: date_format }}</div>
        </div>
      </div>
      <div class="tarja-model-foto-content">
        <div class="tarja-header-fons"  style="background-image: url('{{ post.image | escape }}') ;"> 
        <div class ="tarja-header-fons-text">{{ post.title | escape }}</div>
        </div>
        <div class="tarja-cos-content"> 
          <div class =""><span style="font-style:italic">{{ post.date | date: date_format }}</span> ·
            {{ post.content | strip_html | truncatewords: 20 }}
          </div>
        </div>
      </div>
    </a>
    
  </div>

  {% endunless %}
  {%- endfor -%}
</div>
</div>

</div>




</div>